@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply absolute bottom-0 left-1/2 block w-0 bg-orange-500;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

.about {
  @apply mb-10 mt-24;
}

.slick-slide {
  height: auto;
}

.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slick-list {
  height: 210px;
}

.home-heading {
  @apply flex items-center justify-center gap-[5px] font-sfpro text-[25px] font-black;
  background: linear-gradient(97deg, #42ade2 39.67%, #6eb925 69.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
