@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply absolute bottom-0 left-1/2 block w-0 bg-orange-500;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

.about {
  @apply mt-20;
}

.slick-slide {
  height: auto;
}

.slick-track {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
.slick-list {
  height: 210px;
}

.header {
  backdrop-filter: blur(25px);
}
